pandas
numpy
jupyter
ipykernel
notebook

langgraph
langchain-anthropic
langchain-community
langchain-chroma 
langchain-docling
langchain

# docling

# pymupdf
# sentence-transformers  # For embeddings

# unstructured[all-docs]
# poppler-utils
# pandoc