langgraph
langchain-anthropic
langchain-community
langchain
pandas
numpy
jupyter
ipykernel
notebook

langchain-chroma  # For vector storage
pymupdf
sentence-transformers  # For embeddings

unstructured[all-docs]
# unstructured-inference
# pdf2image
poppler-utils
pandoc
# pdfminer.six
# pi_heifa